.genericBtns{
    background-color: lightgreen;
    color: green;
    border: none;
}

.genericBtns.active{
    background-color: darkgreen;
    color: lightgreen;
}

.toolbarFilterBtns{
    font-size: small;
}

.toolbarUIBtns{
    font-size: small;
}

.icons{
    font-size: larger;
}